<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Steven's Dot Game</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div id="nightMode" class="nightmodeToggle">
        <label class="switch">
          <input type="checkbox" aria-label="night mode toggle" />
          <span class="slider round"></span>
        </label>
      </div>
      <header id="scoringArea">
        <div class="score-button">
          <div><h1 id="score">0</h1></div>
          <div class="button-container">
            <button id="startButton" class="button">Start</button>
          </div>
        </div>
        <div id="speedSlider">
          <div class="slider-wrapper">
            <input
              type="range"
              min="10"
              max="100"
              id="sliderSpeed"
              value="20"
              class="slider-speed"
              role="slider"
              aria-label="currentSpeed"
            />
            <div>
              <h3>Speed: <span id="speed">20</span></h3>
            </div>
          </div>
        </div>
      </header>
      <section id="gameArea"></section>
    </div>
    <script src="/index.js" type="module"></script>
  </body>
</html>
