<!DOCTYPE html>
<html>
  <head>
    <title>Steven's Dot Game</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div id="scoringArea">
        <div>
          <div>Score: <span id="score">0</span></div>
          <button id="startButton" class="button">Start</button>
        </div>
        <div id="speedSlider">
          <div class="slider-wrapper">
            <input
              type="range"
              min="10"
              max="100"
              id="sliderSpeed"
              value="20"
            />
            <div>Speed: <span id="speed">20</span></div>
          </div>
        </div>
      </div>
      <div id="gameArea"></div>
    </div>

    <script src="/index.js"></script>
  </body>
</html>
