@import url("https://fonts.googleapis.com/css?family=Bungee|Open+Sans:400,700&display=swap");

// Font Variables
$bungee: "Bungee", cursive;
$open-sans: "Open Sans", sans-serif;

@mixin heading-font {
  font-family: "Bungee", cursive;
}

@mixin body-font {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: $pink;
  @include heading-font;
  padding: 0;
  margin: 0;
  font-size: 60px;
}

h3 {
  color: $pink;
  @include body-font;
  padding: 0;
  margin: 0;
  font-size: 35px;
}
