@import "variables";
@import "mixins";

#scoringArea {
  background: $white;
  z-index: 999;
  box-shadow: none;
  color: $white;
  padding: 30px;
  width: 100%;
  margin: 0 auto;

  .score-button {
    display: flex;
    flex-direction: row;
    padding: 40px 0;
    width: 90%;
    margin: 0 auto;

    div {
      flex: 1 1 50%;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;

      .button {
        background-color: $pink;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        @include body-font;
        font-size: 30px;
        font-weight: 700;
        width: 150px;
        border-radius: 8px;
      }
    }
  }

  #speedSlider {
    width: 90%;
    margin: 0 auto;

    .slider-speed {
      -webkit-appearance: none;
      display: block;
      height: 10px;
      margin: 0 0 30px;
      outline: none;
      background: $blue;
      border-radius: 10px;
      width: 100%;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        background: $pink;
        border-radius: 50px;
      }
    }

    h3 {
      font-size: 35px;
    }
  }
}
