// Try Guys Colors
$blue: #1b97c6;
$pink: #e9969f;
$green: #d8ffd8;
$purple: #c3c3d8;
$yellow: #f7dc87;
$orange: #ffd5bd;
$white: #ecece7;
$white-transparent: rgba(237, 237, 232, 0.8);
$dark-blue: #000000;
$dark-blue-transparent: rgba(0, 0, 0, 0.8);

$pink-background: #fd97c6;

// Border Width
$b: 1.5em;
